server:
  address: localhost
  port: 8888
spring:
  profiles:
    active: native
  cloud:
     config:
       server:
         native:
           searchLocations:  classpath:configs/ 
  #authentication
  security:
    user:      name: root
      password: secret

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
